<div *ngIf="showComponent" class ="login-container">
  <form [formGroup]="login" novalidate>
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content >
        <div class="login-form-content">
          <mat-form-field class="login-form-container-item">
            <input matInput placeholder="Username" formControlName="username" [(ngModel)]="username"/>
            <mat-error *ngIf="login.get('username').hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="login.get('username').hasError('minlength')">
              this field must be at least 4 character
            </mat-error>
            <mat-error *ngIf="login.get('username').hasError('maxLength')">
              this field must be at must 25 character
            </mat-error>
          </mat-form-field>
          <mat-form-field class="login-form-container-item" style="padding-top:20px">
              <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"  formControlName="password" [(ngModel)]="password"/>         
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>   
              <mat-error *ngIf="login.get('password').hasError('required')">
                This field is <strong>required</strong>
              </mat-error>
          </mat-form-field>
      </div>
      <div *ngIf="error" class="error">
        <p>Authentication failed, please retry.</p>
      </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="login-form-container-action">
          <button mat-raised-button color="primary" class=".login-form-container-action"(click)="authenticate()">Sign in</button>
          <button mat-raised-button color="basic" class=".login-form-container-action" (click)="clear()">reset</button>          
        </div>
        </mat-card-actions>
      <mat-card-footer>
        <div class="login-form-container-footer">
          <a href="#" (click)="register()">New?register now</a>
        </div>
      </mat-card-footer>
    </mat-card>
  </form>
</div>

